@font-face {
    font-family: 'Inter-LightBETA';
    font-display: swap;
    src: url('../fonts/Inter-LightBETA.eot');
    src: url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter-LightBETA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    font-display: swap;
    src: url('../fonts/Inter-Bold.eot');
    src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #F6F6F6;
  font-family: 'Inter-Regular';
}
#logo {
  width: 158px;
}
.leftContentInside {
  height: 88vh;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.leftContent {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 15px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.centerContent {
  border-right: 15px solid;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 15px solid #eeeeee;
  z-index: 1;
  position: relative;

}
.hideCentral {
  z-index: -1;
  position: relative;
  -webkit-transform: translateX(-1630px);
      -ms-transform: translateX(-1630px);
          transform: translateX(-1630px);
}
.rightContent {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../images/Component1.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 4px 6px rgb(0 0 0 / 6%);
          box-shadow: inset 0px 0px 4px 6px rgb(0 0 0 / 6%);
  position: relative;
  overflow: hidden;
}
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url('../images/arrow2.svg')
}
.mainForm {
  position: relative;
  top: -30px;
}
#selectArrow {
  position: absolute;
  left: 472px;
  top: 223px;
}
.rightContentInside {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 88vh;
}
#wrap_portfolioLink {
  text-decoration: none;
}
.newLook {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #000628;
  width: 450px;
  margin: 0;
  font-family: 'Inter-Bold';
}
.lookBelow {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #000628;
  width: 510px;
}
.wrap_newLook {
    position: relative;
}
.wrap_lookBelow {
  position: relative;
  top: -7px
}
.wrap_discussButton {
  position: relative;
}
.discussButton {
  width: 288px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #5200FF;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #5200FF;
  background: transparent;
}
.discussButton:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: inset 0px 0px 20px #DBCAFF;
            box-shadow: inset 0px 0px 20px #DBCAFF;
    border: 1px solid #f6f6f6 !important;
}
.discussActive {
  color: white;
  background: #5200FF;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}
.privacyLink {
  -webkit-text-decoration-color: #000628;
          text-decoration-color: #000628;
  display: none;
}
.privacyLink > p, .year {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000628;
}

.wrap_newLook, .wrap_lookBelow, .wrap_discussButton, .wrap_for_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* grid-template-columns: 1fr; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
#smallFone {
  display: none;
  position: absolute;
  top: 0;
  width: auto;
}
.displayBlock {
  display: block !important;
}
.content {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6f6f6;
  -ms-grid-columns: 630px 630px 1fr;
  grid-template-columns: 630px 630px 1fr;
}
.hideContent {
  -ms-grid-columns: 630px 1px 1fr;
  grid-template-columns: 630px 1px 1fr;
}
.book_center {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000628;
  font-family: 'Inter-Bold';
  margin: 0;
  position: relative;
  top: 19px;
  left: 64px;
  width: 380px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
}
.centerContentInside {
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 30% 40% 30%;
  grid-template-rows: 30% 40% 30%;
}
.titles {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000628;
    margin-bottom: 14px;
    margin-top: 30px;
  }
#agree_txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000628;
}
.all_inputs {
  width: 480px;
  height: 66px;
  border: 1px solid #5200FF;
  color: #5200FF;
  border-radius: 8px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: transparent;
  cursor: pointer;
}
 .all_inputs::-webkit-input-placeholder {
   color: #5200FF;
 }
 .all_inputs::-moz-placeholder {
   color: #5200FF;
 }
 .all_inputs:-ms-input-placeholder {
   color: #5200FF;
 }
 .all_inputs::-ms-input-placeholder {
   color: #5200FF;
 }
 .all_inputs::placeholder {
   color: #5200FF;
 }
#selectField {
      width: 514px;
}
.wrap_check {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  border: 1px solid #5200FF;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}
.fullColor {
  background: #5200FF;
}
.wrap_check > input {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}
.wrap_check_fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11px 21px 11px 229px 11px 1fr;
  grid-template-columns: 1fr 21px 229px 1fr;
  grid-gap: 11px;
  position: relative;
  top: 50px;
}
.wrap_schedule {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule {
  width: 510px;
  height: 70px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: #5200FF;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.schedule:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
}
.link_open {
  text-decoration: none;
  position: relative;
  top: -75px;
}
.open_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 364px;
  height: 131px;
  left: calc(50% - 364px/2 - 0.5px);
  bottom: 119.67px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  color: #FFFFFF;
}
.rotateArrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
