@media (min-width: 576px) and (max-width: 976px) {
  .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .leftContent {
        border-right: none;
  }
  .rightContent {
    display: none;
  }
}
@media (min-width: 976px) and (max-width: 1290px)  {
    .content {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  }
    .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .leftContent {
        border-right: none;
  }
  .newLook {
    font-size: 35px;
    line-height: 130%;
    width: 390px;
}
.rightContent {
  display: none;
}
.privacy {
      -ms-grid-columns: 103px 139px 167px;
      grid-template-columns: 103px 139px 167px;
}
.lookBelow {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #000628;
    width: 389px;
}
.discussButton {
  width: 230px;
  height: 60px;
}
.leftContentInside {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: none;
  grid-template-rows: none;
}
.book_center {
    font-size: 22px;
    line-height: 33px;
    width: 310px;
    top: 10px;
    left: 60px;
}
.titles {
    font-size: 18px;
    left: -44px;
    margin-bottom: 6px;
    margin-top: 17px;
}
.wrap_schedule {
  position: relative;
  top: -89px;
}
.all_inputs {
    width: 304px;
    left: 0px;
}
.book_center {
    font-size: 22px;
    line-height: 33px;
    width: 310px;
    top: 100px;
    left: 13px;
}
.wrap_check_fields {
  top: 29px;
}
#selectField {
    width: 380px;
    height: 60px;
}
.schedule {
  width: 330px;
  height: 60px;
}
#selectArrow {
    position: absolute;
    left: 292px;
    top: 210px;
}
}
@media (min-width: 1290px) and (max-width: 2000px) {
  .content {
        -ms-grid-columns: 430px 430px 1fr;
        grid-template-columns: 430px 430px 1fr;
  }
  .hideContent {
    -ms-grid-columns: 430px 1px 1fr !important;
    grid-template-columns: 430px 1px 1fr !important;
  }
  .newLook {
    font-size: 27px;
    line-height: 121%;
    width: 310px;
  }
  .lookBelow {
    font-weight: 400;
    font-size: 21px;
    line-height: 127%;
    text-align: center;
    color: #000628;
    width: 300px;
}
.open_btn {
      font-size: 23px;
      height: 117px;
}
.discussButton {
      height: 58px;
}
.privacy {
      -ms-grid-columns: 102px 139px 167px;
      grid-template-columns: 102px 139px 167px;
}
.book_center {
  font-size: 27px;
  line-height: 121%;
  width: 310px;
  top: 10px;
  left: 60px;
}
.schedule {
  width: 363px;
  height: 60px;
}
.titles {
      left: -33px;
      font-size: 20px;
      position: relative;
}
.wrap_check_fields {
  left: -33px;
}
.mainForm {
  width: 430px;
  left: 34px;
}
#selectField {
    width: 363px;
    height: 60px;
}
#selectArrow {
    left: 321px;
    top: 210px;
}
.all_inputs {
  width: 329px;
  height: 56px;
  font-size: 16px;
}
}
